<section class="covers">
  <h2 class="visually-hidden">Covers</h2>
  <div class="container container-covers">
    <ul class="container-covers-list">
      <li class="container-covers-list-item">
        <picture> </picture>
      </li>
      <li>
        <picture></picture>
      </li>
      <li>
        <picture></picture>
      </li>
    </ul>
    <ul>
      <li>
        <picture></picture>
      </li>
      <li>
        <picture></picture>
      </li>
      <li>
        <picture></picture>
      </li>
    </ul>
    <ul>
      <li>
        <picture></picture>
      </li>
      <li>
        <picture></picture>
      </li>
      <li>
        <picture></picture>
      </li>
    </ul>
  </div>
</section>
