<section class="covers">
  <h2 class="visually-hidden">Covers</h2>
  <div class="container container-covers">
    <ul class="container-covers-list">
      <li class="container-covers-list-item">
        <picture>
          <source
            srcset="
              /img/covers/compresspng-1x/Rectangle-10-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-10-min.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/covers/compresspng-1x/Rectangle-10-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-10-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/covers/mobile-1x/Rectangle-10-mobile.png           1x,
              /img/covers/mobile/mobile-2x/Rectangle-10-mobile-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/covers/compresspng-1x/Rectangle-10-min.png"
            class="portfolio-list-img"
            alt="Rectangle-10-min"
          />
        </picture>
      </li>

      <li class="container-covers-list-item">
        <picture
          ><source
            srcset="
              /img/covers/compresspng-1x/Rectangle-7-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-7-min.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/covers/compresspng-1x/Rectangle-7-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-7-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/covers/mobile-1x/Rectangle-7-mobile.png    1x,
              /img/covers/mobile-2x/Rectangle-7-mobile-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src=" /img/covers/compresspng-1x/Rectangle-7-min.png"
            class="portfolio-list-img"
            alt="Rectangle-7-min"
          />
        </picture>
      </li>
      <li class="container-covers-list-item">
        <picture
          ><source
            srcset="
              /img/covers/compresspng-1x/Rectangle-11-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-11-min.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/covers/compresspng-1x/Rectangle-11-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-11-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/covers/mobile-1x/Rectangle-11-mobile.png    1x,
              /img/covers/mobile-2x/Rectangle-11-mobile-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/covers/compresspng-1x/Rectangle-11-min.png "
            class="portfolio-list-img"
            alt="Rectangle-11-min"
          />
        </picture>
      </li>
    </ul>
    <ul class="container-covers-list">
      <li class="container-covers-list-item">
        <picture>
          <source
            srcset="
              /img/covers/compresspng-1x/Rectangle-5-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-5-min.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/covers/compresspng-1x/Rectangle-5-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-5-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/covers/mobile-1x/Rectangle-5-mobile.png    1x,
              /img/covers/mobile-2x/Rectangle-5-mobile-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/covers/compresspng-1x/Rectangle-5-min.png"
            class="portfolio-list-img"
            alt="Rectangle-5-min"
          />
        </picture>
      </li>
      <li class="container-covers-list-item">
        <picture
          ><source
            srcset="
              /img/covers/compresspng-1x/Rectangle-4-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-4-min.png 2x
            "
            media="(min-width: 1440px)" />
          <source
            srcset="
              /img/covers/compresspng-1x/Rectangle-4-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-4-min.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              /img/covers/mobile-1x/Rectangle-4-mobile.png    1x,
              /img/covers/mobile-2x/Rectangle-4-mobile-2x.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src="/img/covers/compresspng-1x/Rectangle-4-min.png "
            class="portfolio-list-img"
            alt="Rectangle-4-min"
        /></picture>
      </li>
      <li class="container-covers-list-item">
        <picture
          ><source
            srcset="
              /img/covers/compresspng-1x/Rectangle-6-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-6-min.png 2x
            "
            media="(min-width: 1440px)" />
          <source
            srcset="
              /img/covers/compresspng-1x/Rectangle-6-min.png 1x,
              /img/covers/compresspng-2x/Rectangle-6-min.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              /img/covers/mobile-1x/Rectangle-6-mobile.png    1x,
              /img/covers/mobile-2x/Rectangle-6-mobile-2x.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src=" /img/covers/compresspng-1x/Rectangle-6-min.png"
            class="portfolio-list-img"
            alt="Rectangle-6-min"
        /></picture>
      </li>
    </li>
    <li class="container-covers-list-item">
      <picture>
        <source
          srcset="
          /img/covers/compresspng-1x/Rectangle-8-min.png              1x,
          /img/covers/compresspng-2x/Rectangle-8-min.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
          /img/covers/compresspng-1x/Rectangle-8-min.png              1x,
          /img/covers/compresspng-2x/Rectangle-8-min.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/covers/mobile-1x/Rectangle-8-mobile.png              1x,
            /img/covers/mobile-2x/Rectangle-8-mobile-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/covers/compresspng-1x/Rectangle-8-min.png   "
          class="portfolio-list-img"
          alt="Rectangle-8-min"
        />
      </picture>
    </li>
    </ul>
    <ul class="container-covers-list">
      <li class="container-covers-list-item">
        <picture>
          <source
            srcset="
            /img/covers/compresspng-1x/Rectangle-9-min.png              1x,
            /img/covers/compresspng-2x/Rectangle-9-min.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/covers/compresspng-1x/Rectangle-9-min.png              1x,
            /img/covers/compresspng-2x/Rectangle-9-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/covers/mobile-1x/Rectangle-9-mobile.png              1x,
              /img/covers/mobile-2x/Rectangle-9-mobile-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src=" /img/covers/compresspng-1x/Rectangle-9-min.png"
            class="portfolio-list-img"
            alt="Rectangle-9-min"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
            /img/covers/compresspng-1x/Rectangle-12-min.png              1x,
            /img/covers/compresspng-2x/Rectangle-12-min.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/covers/compresspng-1x/Rectangle-12-min.png              1x,
            /img/covers/compresspng-2x/Rectangle-12-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/covers/mobile-1x/Rectangle-12-mobile.png              1x,
              /img/covers/mobile-2x/Rectangle-12-mobile-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src=" /img/covers/compresspng-1x/Rectangle-12-min.png"
            class="portfolio-list-img"
            alt="Rectangle-12-min"
          />
        </picture>
      </li>
      <li class="container-covers-list-item">
        <picture> 
          <source
          srcset="
          /img/covers/compresspng-1x/first-screen-1-min.png              1x,
          /img/covers/compresspng-2x/first-screen-1-min.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
          /img/covers/compresspng-1x/first-screen-1-min.png              1x,
          /img/covers/compresspng-2x/first-screen-1-min.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/covers/mobile-1x/first-screen-1-mobile.png              1x,
            /img/covers/mobile-2x/first-screen-1-mobile-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/covers/compresspng-1x/first-screen-1-min.png"
          class="portfolio-list-img"
          alt="first-screen-1-min"
        />
      </picture>
      </li>
    </ul>
  </div>
</section>
