<header class="header">
  <div class="container header-container">
    <div class="logo-header">
      <img src="../img/header/header-face-1x.jpg" 
            alt="Logo"
            srcset="../img/header/header-face-2x.jpg">
      <span>jefferson*</span>
    </div>

    <div class="nav">
        <a href="#" class="menu-btn">Menu</a>
      <div class="burger-menu">
        <span class="burger-icon"></span>
      </div>
    

    
    <nav class="navigation-header">
        <a href="#about_me">About me</a>
        <a href="#benefits">Benefits</a>
        <a href="#projects">Projects</a>
        <a href="#faq">FAQ</a>
        <button class="close-menu">✕</button>
      </nav>
      
        <!-- <a href="#work-together" class="order-btn">Order the project</a> -->
    
    </div>


  <a href="#work-together" class="order-btn">Order the project</a>
  </div>
</header>

