<header class="header">
  <div class="container header-container">
    <div class="logo-header">
      <img src="./img/header/header-face-1x.jpg" 
            alt="Logo"
            srcset="./img/header/header-face-2x.jpg">
      <span>jefferson*</span>
    </div>

    <div class="nav">
        <div><a href="#" class="menu-btn">Menu</a></div>
        
        
        <div class="navigation-header-list">
            
            <button type="button" class="open-modal">
              <svg width="8" height="8">
                <use href="../img/svg/symbol-defs-icons.svg#icon-icon-burger"></use>
              </svg>
            </button>
            
            <ul class="nav-header-ul">
                <li class="nav-header-link"><a href="#about_me">About me</a></li>
                <li class="nav-header-link"><a href="#benefits">Benefits</a></li>
                <li class="nav-header-link"><a href="#projects">Projects</a></li>
                <li class="nav-header-link"><a href="#faq">FAQ</a></li>
            </ul>
  
            <button type="button" class="close-menu">
              <svg width="24" height="24">
                <use href="../img/svg/symbol-defs-icons.svg#icon-icon-x"></use>
              </svg>
            </button>
        </div>
      </div>

  <a href="#work-together" class="order-btn">Order the project</a>
  </div>


</header>

