<!-- Projects Section -->
<section class="projects" id="projects" data-aos="fade-up">
  <div class="container projects-container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-swiper-container swiper">
      <ul class="projects-list swiper-wrapper">
        <li class="project-list-item swiper-slide">
          <div class="text-container">
            <div class="list-hashtags-container">
              <p class="hashtags-text">#react</p>
              <p class="hashtags-text">#js</p>
              <p class="hashtags-text">#node js</p>
              <p class="hashtags-text">#git</p>
            </div>
            <p class="list-item-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="see-project-link"
              href="https://github.com/Nikolas-vl/project-CodeTeam14"
              target="_blank"
              >See project</a
            >
          </div>
          <!-- First Image -->
          <picture class="list-img-container">
            <source
              srcset="
                ../img/projects/projects-dec-1x.jpg 1x,
                ../img/projects/projects-dec-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/projects/projects-dec-1x.jpg 1x,
                ../img/projects/projects-dec-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/projects/projects-mob-1x.jpg 1x,
                ../img/projects/projects-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="list-item-img"
              src="../img/projects/projects-dec-1x.jpg"
              width="614"
              height="385"
              alt="Read journey"
            />
          </picture>
        </li>
        <!-- Second Image -->
        <li class="project-list-item swiper-slide">
          <div class="text-container">
            <div class="list-hashtags-container">
              <p class="hashtags-text">#react</p>
              <p class="hashtags-text">#js</p>
              <p class="hashtags-text">#node js</p>
              <p class="hashtags-text">#git</p>
            </div>
            <p class="list-item-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="see-project-link"
              href="https://github.com/Nikolas-vl/project-CodeTeam14"
              target="_blank"
              >See project</a
            >
          </div>

          <picture class="list-img-container">
            <source
              srcset="
                ../img/projects/projects-dec-2-img-1x.jpg 1x,
                ../img/projects/projects-dec-2-img-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/projects/projects-dec-2-img-1x.jpg 1x,
                ../img/projects/projects-dec-2-img-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/projects/projects-mob-2-img-1x.jpg 1x,
                ../img/projects/projects-mob-2-img-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="list-item-img"
              src="../img/projects/projects-dec-2-img-1x.jpg"
              width="614"
              height="385"
              alt="Read journey"
            />
          </picture>
        </li>
        <!-- Third Image -->
        <li class="project-list-item swiper-slide">
          <div class="text-container">
            <div class="list-hashtags-container">
              <p class="hashtags-text">#react</p>
              <p class="hashtags-text">#js</p>
              <p class="hashtags-text">#node js</p>
              <p class="hashtags-text">#git</p>
            </div>
            <p class="list-item-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="see-project-link"
              href="https://github.com/Nikolas-vl/project-CodeTeam14"
              target="_blank"
              >See project</a
            >
          </div>
          <picture class="list-img-container">
            <source
              srcset="
                ../img/projects/projects-dec-3-img-1x.jpg 1x,
                ../img/projects/projects-dec-3-img-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/projects/projects-dec-3-img-1x.jpg 1x,
                ../img/projects/projects-dec-3-img-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/projects/projects-mob-3-img-1x.jpg 1x,
                ../img/projects/projects-mob-3-img-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="list-item-img"
              src="../img/projects/projects-dec-3-img-1x.jpg"
              width="614"
              height="385"
              alt="Read journey"
            />
          </picture>
        </li>
      </ul>

      <!-- Arrow Buttons -->

      <div class="projects-arrow-btns">
        <div class="swiper-button-prev">
          <svg class="arrow-svg-left" width="32" height="32">
            <use href=""></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg class="arrow-svg-right" width="32" height="32">
            <use href=""></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Scroll to header -->
<a href="#header" id="scrollToHeader">
  <svg class="scrollUp-btn" width="32" height="32">
    <use href=""></use>
  </svg>
</a>
