<section class="projects">
  <div class="container">
    <div class="projects-container">
      <h2 class="projects-title">Projects</h2>
      <ul class="projects-list">
        <li class="project-list-item-1">
          <div class="list-hashtags-container">
            <p class="hashtags-text">#react</p>
            <p class="hashtags-text">#js</p>
            <p class="hashtags-text">#node js</p>
            <p class="hashtags-text">#git</p>
          </div>
          <h3 class="list-item-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <button class="see-project-btn" type="button">See project</button>
        </li>
        <li class="project-list-item-2">
          <img
            class="list-item-img"
            src="../img/projects/projects-dec-1x.jpg"
            alt="project image"
          />
        </li>
      </ul>
      <div class="projects-arrow-btns">
        <button class="left-arrow-btn" type="button">
          <svg class="arrow-svg" width="32" height="32">
            <use href=""></use>
          </svg>
        </button>
        <button class="right-arrow-btn" type="button">
          <svg class="arrow-svg" width="32" height="32">
            <use href=""></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
