<!-- ============ PROJECTS ============ -->
<section class="section projects-section" id="projects" data-aos="fade-up">
  <div class="container projects-container">
    <h2 class="projects-section-title">Projects</h2>

    <div class="projects-swiper-container swiper">
      <!-- Additional required wrapper -->
      <ul class="projects-list swiper-wrapper">
        <!-- Slides -->
        <li class="projects-item swiper-slide">
          <!-- Text Container -->
          <div class="projects-text-container">
            <div class="projects-tags">
              <span class="tag">#react</span>
              <span class="tag">#js</span>
              <span class="tag">#node js</span>
              <span class="tag">#git</span>
            </div>

            <p class="projects-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>

            <a
              class="projects-link"
              href="https://github.com/Nikolas-vl/project-CodeTeam14"
              target="_blank"
              >See project</a
            >
          </div>
          <!-- Image Container -->
          <picture class="projects-image-container">
            <source
              srcset="
                ../img/projects/projects-dec-1x.jpg 1x,
                ../img/projects/projects-dec-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/projects/projects-dec-1x.jpg 1x,
                ../img/projects/projects-dec-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/projects/projects-mob-1x.jpg 1x,
                ../img/projects/projects-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/projects/projects-dec-1x.jpg"
              width="311"
              height="195"
              alt="Read journey"
            />
          </picture>
        </li>
        <li class="projects-item swiper-slide">
          <!-- Text Container -->
          <div class="projects-text-container">
            <div class="projects-tags">
              <span class="tag">#react</span>
              <span class="tag">#js</span>
              <span class="tag">#node js</span>
              <span class="tag">#git</span>
            </div>

            <p class="projects-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>

            <a
              class="projects-link"
              href="https://github.com/Nikolas-vl/project-CodeTeam14"
              target="_blank"
              >See project</a
            >
          </div>
          <!-- Image Container -->
          <picture class="projects-image-container">
            <source
              srcset="
                ../img/projects/projects-dec-2-img-1x.jpg 1x,
                ../img/projects/projects-dec-2-img-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/projects/projects-dec-2-img-1x.jpg 1x,
                ../img/projects/projects-dec-2-img-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/projects/projects-mob-2-img-1x.jpg 1x,
                ../img/projects/projects-mob-2-img-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/projects/projects-dec-2-img-1x.jpg"
              width="311"
              height="195"
              alt="PetLove"
            />
          </picture>
        </li>
        <li class="projects-item swiper-slide">
          <!-- Text Container -->
          <div class="projects-text-container">
            <div class="projects-tags">
              <span class="tag">#react</span>
              <span class="tag">#js</span>
              <span class="tag">#node js</span>
              <span class="tag">#git</span>
            </div>

            <p class="projects-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>

            <a
              class="projects-link"
              href="https://github.com/Nikolas-vl/project-CodeTeam14"
              target="_blank"
              >See project</a
            >
          </div>
          <!-- Image Container -->
          <picture class="projects-image-container">
            <source
              srcset="
                ../img/projects/projects-dec-3-img-1x.jpg 1x,
                ../img/projects/projects-dec-3-img-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/projects/projects-dec-3-img-1x.jpg 1x,
                ../img/projects/projects-dec-3-img-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/projects/projects-mob-3-img-1x.jpg 1x,
                ../img/projects/projects-mob-3-img-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/projects/projects-dec-3-img-1x.jpg"
              width="311"
              height="195"
              alt="VocabBuilder"
            />
          </picture>
        </li>
      </ul>
      <!-- navigation buttons -->
      <div class="swiper-custom-arrows">
        <div class="swiper-button-prev button-prev custom-projects-prev">
          <svg class="swiper-button-prev-icon">
            <use
              href="../img/svg/symbol-defs-icons.svg#icon-arrow-narrow-left"
              width="32"
              height="32"
            ></use>
          </svg>
        </div>
        <div class="swiper-button-next button-next custom-projects-next">
          <svg class="swiper-button-next-icon">
            <use
              href="../img/svg/symbol-defs-icons.svg#icon-arrow-narrow-right"
              width="32"
              height="32"
            ></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
