.aboutme {
    padding-top: 32px;
    padding-bottom: 32px;
    background: #1c1d20;

    @media screen and (min-width: 768px) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.aboutme__content_1_container {
    @media screen and (max-width: 767px) {
        margin-bottom: 12px
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 32px
    }

    @media screen and (min-width: 1440px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-bottom: 64px;
    }
}

.aboutme__content_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    height: 500px;
    border-radius: 24px;
    background-color: #242527;

    @media screen and (min-width: 768px) {
        padding: 64px;
        height: 700px;
    }

    @media screen and (max-width: 1440px) {
        margin-bottom: 16px;
    }
}

.aboutme_title_h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;

    @media screen and (min-width: 768px) {
        font-weight: 500;
        font-size: 36px;
        line-height: 105%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }
}

.title-aboutme-li {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.highlight-functional {
    color: #ED3B44;
}

.highlight-websites {
    color: rgba(250, 250, 250, 0.4);
    ;
}

.about_me_image_container {
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
    height: auto;
    display: block;

    @media screen and (min-width: 1440px) {
        height: 700px;
    }
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.swiper-skills {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    overflow: hidden;
    width: 260px;
    margin: 0 !important;

    @media screen and (min-width: 768px) {
        width: 600px;
    }

    @media screen and (min-width: 1440px) {
        width: 1200px !important;
    }
}

.swiper-skills-wrapper {
    display: flex;
}

.swiper-skills-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 130px !important;
    height: 130px !important;
    background: #1c1d20;
    color: #fafafa;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    margin: 0 !important;

    @media screen and (min-width: 768px) {
        width: 200px !important;
        height: 200px !important;
    }
}

.swiper-skills-slide-active {
    background: #ED3B44;
}

.swiper-skills-next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    cursor: pointer;
    background-color: #1c1d20;
    border: none;
    padding: 0;

    @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
    }
}

.swiper-skills .swiper-slide-active {
    background: #ED3B44;
}

.svg-aboutme-next {
    width: 28px;
    height: 28px;
    fill: #1c1d20;
    stroke: #3B3B3B;

    @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;
    }
}

.li-aboutme {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    background-color: #1c1d20;
    box-sizing: border-box;
    padding: 20px 0;

    @media screen and (min-width: 768px) {
        padding: 32px 0;
    }
}

.li-aboutme-1 {
    border: none;
}

.li-border-last {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.accordion-container-aboutme {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        margin-bottom: 64px;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 96px;
    }
}


.button-aboutme {
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 10px;
    width: 100%;
    background-color: #1c1d20;
    border: none;
    padding: 0;
}

.button-aboutme:hover,
.button-aboutme:focus,
.button-aboutme:active {
    background: none;
        box-shadow: none;
        outline: none;
}

.title-aboutme {
    width: 280px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;

    @media screen and (min-width: 768px) {
        width: 574px;
    }
}

.svg-aboutme-up {
    width: 40px;
    height: 40px;
    display: none;
    fill: #1c1d20;
    stroke: #fafafa;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 10px;
}

.svg-aboutme-down {
    width: 40px;
    height: 40px;
    fill: #1c1d20;
    stroke: #fafafa;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 10px;
}

.ac.is-active .ac-trigger .svg-aboutme-down {
    display: none;
}

.ac.is-active .ac-trigger .svg-aboutme-up {
    display: inline-block;
}

.ac-panel-aboutme {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;

    @media screen and (min-width: 768px) {
        margin-top: 8px;
    }

    @media screen and (min-width: 1440px) {
        padding-left: 50%;
    }
}

.aboutme-p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.aboutme-p-1 {
    margin-bottom: 22px;

    @media screen and (min-width: 768px) {
        margin-bottom: 6px;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 22px;
    }
}

.break-word {
    @media screen and (min-width: 768px) {
        display: block;
        white-space: normal;
    }
}

.ac.js-enabled .ac-panel {
    visibility: hidden;
}

.ac.is-active .ac-panel {
    visibility: visible;
}

.ac.is-active .ac-trigger .svg-header-down {
    display: none;
}

.ac.is-active .ac-trigger .svg-header-up {
    display: inline-block;
}

.ac .ac-panel {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
}
