.benefits {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #1c1d20;
}

.bnf-main-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.bnf-list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-bottom: 32px;
}

.bnf-item {
  border-radius: 20px;
  padding: 24px;
  background: #242527;
}

.bnf-icons-cnt {
  background: #ed3b44;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bnf-icon {
  stroke: #fafafa;
  fill: #ed3b44;
}

.bnf-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.bnf-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.bnf-btn {
  text-wrap: nowrap;
  background-color: #1c1d20;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  max-width: 187px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bnf-btn:hover {
  background-color: #ed3b44;
}

@media only screen and (min-width: 768px) {
  .bnf-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 16px;
    margin-bottom: 48px;
  }

  .bnf-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .bnf-list {
    margin-bottom: 64px;
  }

  .bnf-main-container {
    display: flex;
    justify-content: space-between;
  }

  .bnf-container {
    max-width: 680px;
  }
}
