.faq {
    padding-top: 32px;
    padding-bottom: 32px;
    background: #1c1d20;

    @media screen and (min-width: 768px) {
        padding-top: 48px;
        padding-bottom: 48px;
    } 
}
   

.title-faq {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.ac {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    background-color: #1c1d20;
    box-sizing: border-box;
    padding: 20px 0;

    @media screen and (min-width: 768px) {
        padding: 32px 0;
    }
}

.li-border-1-2 {
    @media screen and (min-width: 1440px) {
        border-right: 1px solid rgba(250, 250, 250, 0.2);
        padding-right: 32px;
    }
}

.li-border-3 {
    @media screen and (min-width: 1440px) {
        border-bottom: 1px solid rgba(250, 250, 250, 0.2);
        border-right: 1px solid rgba(250, 250, 250, 0.2);
        padding-right: 32px;
    }
}

.li-padding-left {
    
    @media screen and (min-width: 1440px) {
        padding-left: 32px;
    }
}

.li-border-last {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

ul,
li {
    box-sizing: border-box;
}

.accordion-container {
    background-color: #1c1d20;

    @media only screen and (min-width: 1440px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
        grid-template-rows: repeat(3, auto);
    }
}


.ac-trigger {
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 10px;
    width: 100%;
    background-color: #1c1d20;
    border: none;
    padding: 0;
}

.ac-title {
    width: 280px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;

    @media screen and (min-width: 768px) {
        width: 574px;
    }
}

.li-2-3-width {
    width: 241px;
    margin-right: 30px;


    @media screen and (min-width: 768px) {
        width: 485px;
    }
}

.li-5-width {
    width: 208px;
    margin-right: 60px;

    @media screen and (min-width: 768px) {
        width: 485px;
    }
}

.ac-title-last {
    
    @media screen and (min-width: 768px) {
        width: 450px;
    }
}


.ac.is-active .ac-trigger .svg-header-down {
    display: none;
}

.ac.is-active .ac-trigger .svg-header-up {
    display: inline-block;
}


.ac .ac-panel {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
}

.ac-panel p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    margin-top: 16px;
    
    @media screen and (min-width: 768px) {
        width: 670px;
        margin-top: 26px;
    }
}

.ac .ac-panel .ac-text {
    font: 15px/24px Arial, sans-serif;
    color: var(--color-black);
    padding: 8px;
    margin: 0;
}

.ac.js-enabled .ac-panel {
    visibility: hidden;
}

.ac.is-active .ac-panel {
    visibility: visible;
}

.svg-header-up {
    width: 40px;
    height: 40px;
    display: none;
}

.svg-header-down {
    width: 40px;
    height: 40px;
}