html {
  scroll-behavior: smooth;
}

body.no-scroll {
  overflow: hidden;
}

.mobile-burger-menu {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 144px;
  align-items: center;
  z-index: 1000;
  background: rgba(26, 22, 22, 0);
}

.header-container {
  position: relative;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo-header {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.logo-header img {
  width: 80px;
  height: 80px;
  border-radius: 18px;
}

.logo-header span {
  color: #fafafa;
}

.menu-btn {
  color: #fafafa;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.nav-header-ul {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 22, 22, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.navigation-header-ul.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav-header-link {
  color: #fafafa;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.order-btn {
  width: 163px;
  height: 55px;
  display: flex;
  padding: 18px 24px;
  align-items: center;
  border-radius: 60px;
  background: #ed3b44;
  color: #fafafa;
  letter-spacing: -0.32px;
  text-decoration: none;
}

.order-btn:hover {
  background-color: #e0373f;
}

.mobile-burger-menu > .order-btn {
  display: none;
}

/* !-------------mobile------------ */
@media (max-width: 767.9px) {
  .open-modal {
    position: absolute;
    top: 32px;
    right: 16px;
    stroke: #fafafa;
  }

  .close-menu {
    position: absolute;
    top: 32px;
    right: 16px;
    stroke: #fafafa;
  }

  .menu-btn,
  .order-btn {
    display: none;
  }

  .mobile-burger-menu {
    visibility: hidden;
    position: absolute;
    background-image: url(../img/hero/hero-mob-1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .background-img {
      background-image: url(../img/hero/hero-mob-2x.png);
    }
  }

  .nav-header-ul-mob {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: underline;
    color: #fafafa;
  }

  .order-btn-mob {
    position: absolute;
    bottom: 64px;
    width: 163px;
    height: 55px;
    display: flex;
    padding: 18px 24px;
    align-items: center;
    border-radius: 60px;
    background: #ed3b44;
    color: #fafafa;
    letter-spacing: -0.32px;
    text-decoration: none;
  }
}

/* !-------планшет, десктоп------- */

@media (min-width: 768px) {
  .open-modal {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .menu-btn {
    display: block;
    cursor: pointer;
  }
}

/* =============================Styles and animations======================= */
.menu-btn:hover {
  color: rgb(237, 59, 68);
}
.nav-header-link:hover {
  color: rgb(237, 59, 68);
  text-decoration: underline;
}
.order-btn {
  transition: box-shadow 0.6s ease-in-out, background 0.6s ease-in-out;
}
.order-btn:hover {
  box-shadow: 0 0 10px #fafafa, 0 0 20px rgba(224, 55, 63, 0.5);
  background: #e0373f;
}
