.container {
  background: #1c1d20;
}
.projects-container {
  max-width: 768px;
  background: #1c1d20;
  padding-top: 32px;
  padding-bottom: 32px;
}
.projects-swiper-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.projects-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
  margin-left: 16px;
}
.projects-list {
  display: flex;
  border-radius: 24px;
  max-width: 375px;
  background-color: #1c1d20;
  margin-left: auto;
  margin-right: auto;
}
.project-list-item {
  display: flex;
  flex-direction: column;
}
.text-container {
  background-color: #fafafa;
  border-radius: 24px 24px 0 0;
  border: none;
  display: flex;
  flex-direction: column;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #1c1d20;
}
.list-img-container {
  background: #242527;
  border-radius: 0 0 24px 24px;
  max-width: 767px;
}
.list-item-img {
  margin: 100px 16px 100px 16px;
}
.list-item-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #1c1d20;
  max-height: 84px;
  max-width: 279px;
  margin-top: 96px;
  margin-left: 32px;
  margin-right: auto;
}
.list-hashtags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-left: 32px;
  margin-top: 32px;
  max-width: 279px;
  max-height: 96px;
}
.hashtags-text {
  display: flex;
  align-items: center;
  white-space: nowrap;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;

  height: 45px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
}
.see-project-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  border: none;
  border-radius: 60px;
  padding: 13px 32px;
  width: 141px;
  height: 45px;
  background-color: #ed3b44;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.projects-arrow-btns {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
  margin-bottom: 0;
}
.arrow-svg {
  fill: none;
  stroke: #fafafa;
  width: 25px;
  height: 24px;
}
.swiper-button-prev {
  display: flex;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background: #1c1d20;
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
}
.swiper-button-next {
  display: flex;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background: #1c1d20;
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
}
/* -----------Media--------------- */
@media screen and (min-width: 768px) {
  .projects-container {
    max-width: 1440px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
  }
  .projects-title {
    margin-left: 32px;
  }
  .projects-list {
    min-width: 704px;
  }
  .list-img-container {
    min-width: 704px;
  }
  .list-item-img {
    width: 614px;
    height: 385px;
    margin: 120px 45px 120px 45px;
  }
  .list-item-text {
    font-size: 44px;
    line-height: 100%;
    max-height: 132px;
    max-width: 494px;
    margin-top: 164px;
    margin-left: 64px;
    margin-right: auto;
  }
  .list-hashtags-container {
    flex-wrap: nowrap;

    margin-left: 64px;
    margin-top: 64px;
    max-width: 312px;
    max-height: 55px;
  }
  .hashtags-text {
    padding: 18px;
    height: 55px;
  }
  .see-project-link {
    padding: 18px 50px;
    width: 177px;
    height: 55px;
    margin-left: 64px;
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .projects-arrow-btns {
    gap: 20px;
    margin-top: 64px;
  }
  .arrow-svg {
    width: 32px;
    height: 32px;
  }
  .swiper-button-prev {
    padding: 18px;
    width: 68px;
    height: 68px;
  }
  .swiper-button-next {
    padding: 18px;
    width: 68px;
    height: 68px;
  }
}

@media screen and (min-width: 1140px) {
  .projects-container {
    max-width: 100%;
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .projects-container:hover .projects-title {
    color: #fafafa;
  }
  .projects-list {
    display: flex;
    justify-content: center;
    max-width: 1376px;
    min-width: 688px;
    height: 625px;
  }
  .project-list-item {
    display: flex;
    flex-direction: row;
  }

  .text-container {
    border-radius: 24px 0 0 24px;
  }
  .list-img-container {
    border-radius: 0 24px 24px 0;
    min-width: 688px;
    height: 625px;
  }
  .list-item-img {
    margin: 120px 37px 120px 37px;
  }
  .list-item-text {
    font-size: 44px;
    line-height: 100%;

    height: 132px;
    width: 494px;
    margin-left: 64px;
    margin-top: 223px;
    margin-right: 130px;
  }
  .list-hashtags-container {
    flex-direction: row;

    margin-left: 64px;
    margin-top: 64px;
  }
  .hashtags-text {
    padding: 18px;
    height: 55px;
  }
  .see-project-link {
    padding: 18px 50px;
    width: 177px;
    height: 55px;

    margin-left: 64px;
    margin-bottom: 64px;
  }
  .see-project-link:hover {
    background-color: #e0373f;
  }
  .projects-arrow-btns {
    gap: 20px;
    margin-top: 64px;
  }
  .arrow-svg {
    width: 32px;
    height: 32px;
  }
  .swiper-button-prev {
    padding: 18px;
    width: 68px;
    height: 68px;
  }
  .swiper-button-next {
    padding: 18px;
    width: 68px;
    height: 68px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    transition: box-shadow 0.8s ease-in-out, background 0.8s ease-in-out;
  }
  .swiper-button-prev,
  .swiper-button-next {
    transition: box-shadow 0.8s ease-in-out, background 0.8s ease-in-out;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    box-shadow: 0 0 10px #fafafa, 0 0 20px rgba(255, 255, 255, 0.5);
    background-color: #1c1d20;
    border: 1px solid rgba(250, 250, 250, 0.2);

    border-radius: 60px;
    padding: 18px;
    width: 68px;
    height: 68px;
  }
}
